# =========================
# Node.js / React Frontend
# =========================
node_modules/
dist/
build/
.npm/

# =========================
# Python / FastAPI Backend
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
week*env/
venv/
.venv/
env/
.env_dir/


# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# OS / Other Files
# =========================
.DS_Store
*.log
*.pdf
*.txt